@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine details</h2>
<h3>@Html.DisplayFor(model => model.Type)</h3>

<p>Engineers working on @Model.Type</p>
<ul>
  @if (@Model.JoinEntities.Count == 0)
  {
    <li>No engineers are currently working on this machine.</li>
  }
  @foreach (var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}","Details", new { id = join.Engineer.EngineerId} )</li>
  }
</ul>

<ul class="menu-links">
  <li>@Html.ActionLink("Edit machine details","Edit", new {id = Model.MachineId })</li>
  <li>@Html.ActionLink("Delete machine","Delete", new {id = Model.MachineId })</li>
  <li>@Html.ActionLink("Add engineer","AddEngineer", new {id = Model.MachineId })</li>
</ul>

<ul class="menu-links">
  <li>@Html.ActionLink("Home","Index","Home")</li>
  <li>@Html.ActionLink("Back to all machines", "Index")</li>
</ul>
