@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Dr. Sillystringz's Factory</h1>
<p>We operate a variety of state-of-the-art machines operated by specialized engineers. See our list of machines and qualified engineers below and click to see more details.</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>@Html.ActionLink("Our engineers","Index","Engineers")</h4>
      @if (@ViewBag.EngineersList.Count == 0)
      {
        <h3>We currently do not have any engineers.</h3>
      }
      @foreach(Engineer engineer in @ViewBag.EngineersList)
      {
        <li>@Html.ActionLink($"{engineer.Name}","Details", "Engineers", new {id = engineer.EngineerId})</li>
      }
    </div>
    <div class="col-md-6">
      <h4>@Html.ActionLink("Our machines","Index","Machines")</h4>
      @if (@ViewBag.MachinesList.Count == 0)
      {
        <h3>We currently do not have any machines.</h3>
      }

      @foreach(Machine machine in @ViewBag.MachinesList)
      {
        <li>@Html.ActionLink($"{machine.Type}","Details", "Machines", new {id = machine.MachineId})</li>
      }
    </div>
  </div>
</div>